{% extends "dish_base.html" %}

{% load global_tags %}

{% block dish_menu_operate %}
<a class="btn3" href="{% slugurl restaurant restaurant-add-dish restaurant.id %}">Add dish</a>
{% endblock %}

{% block dish_menu_filter %}
<div class="dish_menu_filter">
    <label for="menu_filter">Filter</label>
    <select name="menu_filter" id="menu_filter">
        <option value="0">All</option>
        {% for type in dishtypes %}
        <option {% if type.default %}selected{% endif %} value="{{ type.id }}">{{ type.name }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}

{% block menu_content %}
<div class="dish_menu_list two_col_list" id="dish_menu_list">
{{ menu_list_html }}
</div>
{% endblock %}

{% block dish_menu_footer %}
{% endblock %}

{% block bottom_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/dish.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    
    // Initialize the input of dish order number 
    $('.order_num').each(function(index){
        var dish_order_input = new Dish.DishOrderInput({
            add : $(this).find('.num_add'),
            minus : $(this).find('.num_minus'),
            input : $(this).find('.num_input'),
        });
    });
    
    var menu_filter = new Dish.MenuFilter({
        filter : $('#menu_filter'),
        menu : $('#dish_menu_list'),
        restaurant : {{ restaurant.id }},
    });
});
</script>
{% endblock %}