{% extends request.base_template %}

{% block bodyclass %}photos_nav{% endblock %}

{% load global_tags %}

{% block content %}
<div class="photos_add_header tab_page_header">
    <div class="title cf">
        <h2 class="fleft">
        	{% if photo %}Edit Photo{% else %}Add Photo{% endif %}</h2>
        <div class="fright operate cf">
            <a href="../" class="btn3">Cancel</a>
        </div>
    </div>
    <div class="sp_hr_line"></div>
</div>

<form id="add_photo_form" class="add_photo_form cf" enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
	<p class="image"><label for="id_image">Select Image : </label>{{ form.image }}</p>
	<p class="title">{{ form.title }}</p>
	<p class="description">{{ form.description }}</p>
	{% if photo %}
	<div class="show_photo">
        <img src="{{ photo.image622x417.url }}" />
        <span class="photo_frame"></span>
    </div>
    {% endif %}
	<input class="btn_post" type="submit" name="submit" value="" />
</form>

{% endblock %}

{% block bottom_script %}

{% endblock %}