<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body style="background:url({{ MEDIA_URL }}images/bg_header_corkboard.png) repeat center top; padding:0px; margin:0px; width:100%;">
<div style="background:url({{ MEDIA_URL }}images/bg_header_gradient.png) repeat-x left top; height:250px; z-index:-1; position:relative; width:100%;"></div>
<div style="background:url({{ MEDIA_URL }}images/bg_pencil_writing.png) no-repeat center top; height:756px; padding:0px; margin:-250px 0 0 0; z-index:10; position:relative;">
  <div style="position:absolute; top:-84px; left:-9px;"><img src="{{ MEDIA_URL }}images/img_green_pencil.png" alt="" /></div>
  <div style="position:absolute; top:-13px; right:160px;"><img src="{{ MEDIA_URL }}images/img_brown_pencil.png" alt="" /></div>
  <div style="position:absolute; bottom:152px; left:71px;"><img src="{{ MEDIA_URL }}images/img_blue_pencil.png" alt="" /></div>
  <div style="position:absolute; bottom:7px; right:87px;"><img src="{{ MEDIA_URL }}images/img_orange_pencil.png" alt="" /></div>
  <div style="width:1000px; margin:-250px auto; padding:0px;">
    <div style="float:left; margin:25px 0 0 35px; float:left;"><img src="{{ MEDIA_URL }}images/img_logo_2.png" alt="" /></div>
    <div style="clear:both"></div>
    <p style="color:#000; font:bold 30px DFKai-SB; width:780px; margin:60px 0 0 110px; float:left; line-height:45px;">我們的beta版即將開放，<br />
      如果您對gulu.com有興趣，請立即登錄您的帳號，<br />
      我們將在第一時間以E-mail通知您關於網站的最新訊息！</p>
    <div style="clear:both"></div>
    <div style="width:550px; margin:150px 0 0 110px; float:left;">
      <form method="post" action="">
        <label style="font:bold 18px Georgia, 'Times New Roman', Times, serif; color:#000; float:left; margin:5px 20px 20px 40px;">User name</label>
        <input type="text" value="" style="float:left; background:url({{ MEDIA_URL }}images/bg_input5.png) no-repeat left top; padding:5px 0 5px 10px; width:357px; height:21px; border:0px; margin:0 0 20px 0;"/>
        <label style="font:bold 18px Georgia, 'Times New Roman', Times, serif; color:#000; float:left; margin:5px 20px 0 0px;">E-mail Address</label>
        <input type="text" value="" style="float:left; background:url({{ MEDIA_URL }}images/bg_input5.png) no-repeat left top; padding:5px 0 5px 10px; width:357px; height:21px; border:0px;"/>
        <input type="submit" value="" style="background:url({{ MEDIA_URL }}images/btn_send.png) no-repeat left top; width:103px; height:32px; border:0px; float:right; margin:10px 25px 0 0; cursor:pointer;"/>
      </form>
    </div>
    <div style="float:right; width:332px; margin:120px 0 0 0px; border:0px;"> <a href="#"><img src="{{ MEDIA_URL }}images/btn_app_iphone.png" alt="" style="border:0px; margin:15px 0 0 0; float:left;"/></a> <a href="#"><img src="{{ MEDIA_URL }}images/btn_app_blackberry.png" alt="" style="border:0px; margin:18px 0 0 0px; float:left;"/></a> <a href="#"><img src="{{ MEDIA_URL }}images/btn_app_android.png" alt="" style="border:0px; margin:16px 0 0 0;"/></a> </div>
  </div>
</div>
<div style="background:url({{ MEDIA_URL }}images/bg_footer_gradient.png) repeat-x left bottom; height:67px; z-index:-1; position:relative; width:100%;"></div>
<div style="clear:both;"></div>
</body>
</html>
