<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Gulu{% endblock %}</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/gulu.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui/jquery-ui-1.8.6.custom.css" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
	{% block extrahead %}{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper" {% block home_header_class %}{% endblock %}> 
	<div id="header">
  		<div id="header_pencil_icon"></div><!-- #header_pencil_icon -->
  		<div id="header_wrapper" class="cf">

			<div id="header_logo">
				<a href="{% url globals-home %}"><img src="{{ MEDIA_URL }}images/img_logo.png" alt="" /></a>
			</div><!-- #header_logo -->
			
			<div id="header_nav_top">
				<ul class="cf">
					<li><a href="#">Restaurant</a></li>
					<li class="selected"><a href="#">Dish</a></li>
					<li><a href="#">Insider</a></li>
					<li><a href="#">People</a></li>
					<li><a href="#">Challenge</a></li>
					<li style="border: none;"><a href="#">All</a></li>
				</ul>
				
				<div id="header_search" class="search_form">
					<form class="cf" action="" method="post">
						<input class="keywords" type="text" value="Enter Keyword(s)" onclick="this.value='';" onblur="this.value=!this.value?'Enter Keyword(s)':this.value;"/>						
						<input class="location" type="text" value="Location" onclick="this.value='';" onblur="this.value=!this.value?'Location':this.value;" />
						<input class="submit" type="submit" value="" />
					</form>
					
					<ul class="cf">
						<li>庄腳所在平價熱炒</li>
						<li>明月湖餐廳</li>
						<li>喜記避風塘炒蟹</li>
					</ul>	 
				</div><!-- #search -->
			</div><!-- #header_nav_top -->
			
			<div id="header_nav_right">
				<div id="header_login_menu">
					<a href="#"><img src="{{ MEDIA_URL }}images/icon_cart.png" /></a><span class="separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					<a href="#"><img src="{{ MEDIA_URL }}images/icon_mail.png" /></a><span class="separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					<a href="#">Settings</a>
				</div><!-- #header_login_menu -->
					
				<div id="header_facebook">
					<a href="#"><img src="{{ MEDIA_URL }}images/icon_fb_like.png" alt="" /></a>
					<img src="{{ MEDIA_URL }}images/icon_fb_29K.png" alt="" />
				</div><!-- #header_facebook -->
			</div><!-- #header_nav_right -->
			
			<div id="header_buttons">
				<div class="header_button">
					<a href="#"><img src="{{ MEDIA_URL }}images/img_mail.png" /><p><strong>Invite</strong></p></a>
				</div><!-- .header_button -->
				<div class="header_button">
					<a href="#"><img src="{{ MEDIA_URL }}images/img_camera.png" /><p><strong>Review</strong></p></a>
				</div><!-- .header_button -->
			</div><!-- #header_buttons -->
				
		</div><!-- #header_wrapper -->
	
		<div id="main_nav" class="cf">
			<a href="#">Home</a>
			<a href="#" class="selected">Ranking</a>
			<a href="#">Insider</a>
			<a href="#">Mission</a>
			<a href="#">My Gulu</a>
		</div><!-- #main_nav -->
	
	</div><!-- #header -->
	
	<div id="content">
		
		<div id="breadcrumbs" class="cf">
			{% block breadcrumbs %}
			<a href="#"><img src="{{ MEDIA_URL }}images/icon_home.png" />&nbsp;&nbsp;home</a>&nbsp;/&nbsp;
			<a href="#">breadcrumb1</a>&nbsp;/&nbsp;
			<a href="#">breadcrumb2</a>
			{% endblock %}
		</div><!-- #breadcrumbs -->
		
		{% block main %}
		
			<h1>Header 1</h1>
			<h2>Header 2</h2>
			<h3>Header 3</h3>
			<p>Paragraph</p>
		
		{% endblock %}
		
	</div><!-- #content -->

</div><!-- #wrapper -->

{% block home_wrapper %}
{% endblock %}

<div id="footer_wrapper">
	<div id="footer">
		<div id="footer_nav">
			<a href="#">About</a><span class="separator"></span>
			<a href="#">Developer</a><span class="separator"></span>
			<a href="#">Reseller</a><span class="separator"></span>
			<a href="#">Franchise</a><span class="separator"></span>
			<a href="#">Celebrity</a><span class="separator"></span>
			<a href="#">Media</a><span class="separator"></span>
			<a href="#">Restaurant</a><span class="separator"></span>
			<a href="#">FAQ</a>
		</div><!-- #footer_nav -->
	
		<div id="footer_extras" class="cf">
			<div id="footer_language" class="footer_select">
				<a href="#">English (US)</a>
			</div><!-- #footer_language -->
				
			<div id="footer_locale" class="footer_select">
				<a href="#">Location: Taiwan</a>
			</div><!-- #footer_locale -->
		
			<ul class="cf">
				<li>&copy; 2010 Genie Capital Ltd.</li>
				<li><a href="#">Submit Story</a></li>
				<li><a href="#">Feedback</a></li>
				<li style="border: none;">Find Us On <a href="#"><img src="{{ MEDIA_URL }}images/icon_socialmedia.png" /></a></li>
			</ul>
		</div><!-- #footer_extras -->
	
	</div><!-- #footer -->
</div><!-- #footer-wrapper -->

{% block bottom_script %}{% endblock %}

</body>
</html>
