{% extends "base.html" %}

{% block home_header_class %}{# from base.html #}
class="home_header_wrapper"
{% endblock %}

{% block main %}
<div id="home_header" class="cf">
    <div class="home_slider fleft">
        <ul class="cf" id="slideshow">
            <li><img src="{{ MEDIA_URL }}images/tmp_slideshow.png"></li>
        {% for photo in slidephotos%}
            <li><img src="{{ photo.image630x285.url }}"></li>
        {% endfor %}
        </ul>
        <span class="slider_frame"></span>
        <div id="slideshow_pager"></div>
    </div>
    
    <div class="right_col fleft">
        <div class="home_app_dl">
            <h2>APP Download</h2>
            <ul class="cf">
                <li><a class="iphone" href="#"></a></li>
                <li><a class="blackberry" href="#"></a></li>
                <li><a class="android" href="#"></a></li>
            </ul>
        </div>
        
        <span class="home_campaign_top"></span>
        <div class="home_campaign">
            <div class="hd"><a href="#"><img alt="" src="{{ MEDIA_URL }}images/tmp_campaign.png"></a></div>
            <ul class="cf">
                <li>·<a href="#">當令極品秋蟹 單品鮮美套餐豐盛 </a></li>
                <li>·<a href="#">美國Prime冷藏肋眼</a></li>
                <li>·<a href="#">霸王牛排大歡享</a></li>
                <li>·<a href="#">皇宮月餅滋味</a></li>
                <li>·<a href="#">色如金之映</a></li>
                <li>·<a href="#">味若瓊之津</a></li>
            </ul>
        </div>
        <span class="home_campaign_bottom"></span>
    </div>
    
</div>
<div id="home_body">
</div>
{% endblock %}

{% block home_wrapper %}
{% endblock %}