{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gulu | Foodies Unite</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/gulu.css" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.cycle.js"></script>
</head>

<body>
    <div class="main cf">
    	<span class="gradient_top"></span>
    	<div>
	    	<div class="newsletter_banner cf">
	    		<div class="banner_content cf">
		    		<div class="gulu_icon fleft">
		    			<img src="{{ MEDIA_URL }}images/img_logo4.png" />
		    		</div>
		    		<div class="banner_text cf fleft">    		
			    		<div class="url_title">
			    			gulu.com 
			    		</div>
			    		<div class="cf">
			    			{% trans "Gulu is the best way to share your food experiences with your friends.<br> The Gulu beta will be online soon. Please leave your e-mail, and we'll let you know when it's live!" %}
			    		</div>
			    	</div>
			    	<div class="cf">
		    			<div class="fb_icon fright"></div>
		    			<div class="fb_like_btn fright cf" style="left: 80px;">
							<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgulu.com&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
						</div>
					</div>
	    		</div>
	    	</div>
	    	<div class="slide_container" id="slideshow">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_coupon.jpg">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_mission.jpg">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_passport.jpg">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_ranking.jpg">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_search.jpg">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_sms.jpg">
    			<img src="{{ MEDIA_URL }}images/newsletter_slider/slide_social.jpg">
    		</div>
	    	<div class="bulletin">
	    		<div id="slideshow_pager"></div>
	    	</div>
    	</div>
    	<div class="newsletter_form cf">
    		<form class="fright form {% if form.is_valid %}display_none{% else %}{% endif %}" method="POST">
            	{% csrf_token %}
                <div class="fright cf">{{ form.username.errors }}<br>
                	<div class="label_username fleft"></div>
                	<div class="label_username_underline fleft"></div>
                    {{ form.username }}
                </div><br />
                <div class="fright cf">{{ form.email.errors }}<br>
                	<div class="label_email fleft"></div>
                	<div class="label_email_underline fleft"></div>
                    {{ form.email }}
                </div><br />
                <div class="fright">
                	<input type="submit" value="">
            	</div>
            	
            </form>
            <div class="fright msg {% if form.is_valid %}{% else %}display_none{% endif %}">
                <p style="font-size: 30px;">
                	{% trans "Registration successful!" %}
                </p>
            </div>
    	</div>
    	<div class="copyright">
    		{% trans "© 2011, Genie Capital, All Rights Reserved" %}
    		<br> {{msg}}
    
    	</div>
        <a class="logo" href="http://gulu.com"><img src="{{ MEDIA_URL }}images/img_logo3.png"></a>
        <div class="newsletter_note"></div>
    </div>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.cycle.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	    $('#slideshow').cycle({ 
	        fx: 'fade',
	        speed: 600,
	        timeout: 5000,
	        pager: '#slideshow_pager',
	        pagerEvent: 'click',
	        pauseOnPagerHover: 1,
	        pagerAnchorBuilder: function(idx,element){
	        	return '<a href="#">&nbsp;&nbsp;&nbsp;</a>';
	        }
	    });
	});
	</script>
</body>

</html>
