{% extends "base_profile.html" %}

{% load global_tags %}

{% block profile_photo %}
{{ request.content_object.main_profile_pic.image185x185.url }}
{% endblock %}

{% block profile_header %}
<div class="mygulu_title cf">
    <div class="title_info fleft">
	    <h1><a href="#">{{ request.content_object.nickname|default:"User Name" }}</a></h1>
		<p class="mygulu_about_me">{{ request.content_object.about_me|linebreaksbr }}</p>
    </div>
    <div class="title_misc fleft">
	    <ul class="restaurant_list cf">
	        <li><a href="#">庄腳所在平價熱炒</a></li>
	        <li><a href="#">明月湖餐廳</a></li>
	        <li><a href="#">喜記避風塘炒蟹</a></li>
	    </ul>
	    <div class="title_deal_info">
	       <h3>Deal</h3>
	       <h4>跨年五人同行一人免費</h4>
	       <p>跨年五人同行一人免費</p>
	    </div>
    </div>
</div>
{% endblock %}

{% block profile_nav %}
<ul>
    <li id="nav_mygulu_profile"><a href="{% slugurl request.content_object user-profile request.content_object.id %}">Profile</a></li>
    <li id="nav_mygulu_invite"><a href="">Invite</a></li>
    <li id="nav_mygulu_todo"><a href="{% slugurl request.content_object todo-list request.content_object.id %}">To do</a></li>
    <li id="nav_mygulu_rankings"><a href="{% slugurl request.content_object user-rankings request.content_object.id %}">Rankings</a></li>
    <li id="nav_mygulu_reviews"><a href="{% slugurl request.content_object user-review-index request.content_object.id %}">Reviews</a></li>
    <li id="nav_mygulu_blog"><a href="{% slugurl request.content_object user-posts request.content_object.id %}">Blog</a></li>
    <li id="nav_mygulu_photos"><a href="{% slugurl request.content_object photos-userprofile-list request.content_object.id %}">Photos</a></li>
    <li id="nav_mygulu_videos"><a href="">Videos</a></li>
    <li id="nav_mygulu_passports"><a href="">Passports</a></li>
</ul>
{% endblock %}

{% block profile_left_col %}

<div class="module mygulu_points">
    <div class="follow_count cf">
		<div class="favorite count">
            <h3>favorite</h3>
            <span>{{ request.content_object.favorite_count }}</span>
		</div>
		<div class="follower count">
            <h3>follower</h3>
            <span>{{ request.content_object.follower_count }}</span>
		</div>
		<div class="following count">
            <h3>following</h3>
            <span>{{ request.content_object.following_count }}</span>
		</div>
    </div>
    <div class="gulu_points">
        <h3>Gulu Points</h3>
        <span class="points_num">{{ request.content_object.gulu_points }}</span>
    </div>
    <div class="user_operate cf">
        <input type="submit" value="Give a Badge" class="btn4">
        <input type="submit" value="Follow" class="btn4">
    </div>
</div>

<div class="module mygulu_writer">
    <div class="wrapper">
		<h3>Writer form</h3>
		<ul class="cf">
		    <li class="rest cf">
	            <img alt="" src="{{ MEDIA_URL }}images/icon_r_type_pizza.png">
	            <h4><a href="">歐式餐廳Group</a></h4>
		   </li>
		   <li class="rest cf">
	            <img alt="" src="{{ MEDIA_URL }}images/icon_r_type_pizza.png">
	            <h4><a href="">歐式餐廳Group</a></h4>
	       </li>
		</ul>
	</div>
</div>

<div class="module mygulu_badges">
    <h3>My Badges</h3>
    <ul class="cf">
        <li><a href="#"><img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png"></a></li>
        <li><a href="#"><img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png"></a></li>
        <li><a href="#"><img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png"></a></li>
    </ul>
</div>

<div class="module mygulu_r_recommend">
	<h3 class="sub">Recommend</h3>
	<h3>Restaurants</h3>
	<ul class="cf">
		<li class="odd"><span>1</span>
            <a href="#">鼎泰豐 (天津店)</a>
		</li>
		<li class="even"><span>2</span>
		    <a href="#">月滿坊Full Moon</a>
		</li>
		<li class="odd"><span>3</span>
            <a href="#">庄腳所在平價熱炒</a>
		</li>
		<li class="even"><span>4</span>
            <a href="#">金龍船魚翅海鮮酒家</a>
		</li>
		<li class="odd"><span>5</span>
            <a href="#">虹橋人家</a>
		</li>
		<li class="even"><span>6</span>
            <a href="#">首都大飯店-豫園</a>
		</li>
		<li class="odd"><span>7</span>
            <a href="#">明月湖餐廳</a>
		</li>
		<li class="even"><span>8</span>
            <a href="#">喜記避風塘炒蟹 (總店)</a>
		</li>
		<li class="odd"><span>9</span>
            <a href="#">武大郎蔥餅</a>
		</li>
		<li class="even"><span>10</span>
            <a href="#">柚子哥</a>
		</li>
	</ul>
</div>

<div class="module mygulu_d_recommend">
    <h3 class="sub">Recommend</h3>
    <h3>Dishes</h3>
    <ul class="cf">
        <li class="odd"><span>1</span>
            <a href="#">鼎泰豐 (天津店)</a>
        </li>
        <li class="even"><span>2</span>
            <a href="#">月滿坊Full Moon</a>
        </li>
        <li class="odd"><span>3</span>
            <a href="#">庄腳所在平價熱炒</a>
        </li>
        <li class="even"><span>4</span>
            <a href="#">金龍船魚翅海鮮酒家</a>
        </li>
        <li class="odd"><span>5</span>
            <a href="#">虹橋人家</a>
        </li>
        <li class="even"><span>6</span>
            <a href="#">首都大飯店-豫園</a>
        </li>
        <li class="odd"><span>7</span>
            <a href="#">明月湖餐廳</a>
        </li>
        <li class="even"><span>8</span>
            <a href="#">喜記避風塘炒蟹 (總店)</a>
        </li>
        <li class="odd"><span>9</span>
            <a href="#">武大郎蔥餅</a>
        </li>
        <li class="even"><span>10</span>
            <a href="#">柚子哥</a>
        </li>
    </ul>
</div>

<div class="module mygulu_passport">
    <h3>Passport</h3>
    <ul>
        <li class="light_yellow">
            <a href="#">
                <img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png">
                <span class="title">Pizzeria TAVOLA </span>
            </a>
        </li>
        <li class="yellow">
            <a href="#">
                <img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png">
                <span class="title">柬埔寨美食挑戰你的胃</span>
            </a>
        </li>
    </ul>
</div>

<div class="module mygulu_mission last">
    <h3 class="sub">Complete</h3>
    <h3>Missions</h3>
    <ul>
        <li class="grey"><a href="#"><img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png"><span class="title">Pizzeria TAVOLA </span></a></li>
        <li><a href="#"><img alt="" src="{{ MEDIA_URL }}images/tmp_chef_photo.png"><span class="title">柬埔寨美食挑戰你的胃</span></a></li>
    </ul>
</div>


{% endblock %}