{% extends "mygulu_base.html" %}

{% block bodyclass %}recommend_nav{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/recommend.js"></script>
<script>
    $('document').ready(function(){
        Recommend.Init ();
    });
</script>
{% endblock %}

{% block content %}
<div class="user_ranking">
    <div class="header">
        <h2 class="restaurant_tab">Restaurant</h2>
        <h2 class="dish_tab top">Dish</h2>
        <span></span>
    </div>
    <div class="cf">
	    <div class="dish_rank_title" style="font-size:16px;margin-left: 45px;">個人美食排行榜</div>
	    <div class="restaurant_rank_title" style="font-size:14px; color:#000; margin-left: 45px;">請用拖拉的方式編輯你的排行榜</div>
    </div>
    <div class="list">
	    <ul id='restaurant_ranking' class="display_none">
	    {% for recommend in restaurant_recommends %}
	       <li id='{{ recommend.id }}' class="cf">
                <span id='r_{{ recommend.id }}' class="rank">{{ forloop.counter }}</span>
                <div class="info">
                    <h4><a href="#">{{ recommend }}</a></h4>
                    <h5><a href="#">{{ recommend.restaurant.address }}</a></h5>
                </div>
                <span class='saving'>Saving...</span>
                <div class="city">
                    {{ recommend.restaurant.city }}
                </div>
                <div class="buttons cf">
                    <a class="btn2" href="#">Review</a>
                    <a class="btn2" href="#">Invite</a>
                    <a class="btn2" href="#">More</a>
                </div>
                {#<span class="cross"></span>#}
            </li>
	    {% endfor %}
	    </ul>
        <ul id='dish_ranking'>
        {% for recommend in dish_recommends %}
            <li id='{{ recommend.id }}' class="cf">
                <span id='d_{{ recommend.id }}' class="rank">{{ forloop.counter }}</span>
                <div class="info">
                    <h4><a href="#">{{ recommend }}</a></h4>
                    <h5><a href="#">{{ recommend.dish.restaurant.address }}</a></h5>
                </div>
                <span class='saving'>Saving...</span>
                <div class="city">
                    {{ recommend.dish.restaurant.city }}
                </div>
                <div class="buttons cf">
                    <a class="btn2" href="#">Review</a>
                    <a class="btn2" href="#">Invite</a>
                    <a class="btn2" href="#">More</a>
                </div>
                {#<span class="cross"></span>#}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}