{% extends "invite_base.html" %}

{% block title %}Create Invite{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.alphanumeric.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/gulu.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/restaurant.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/invite.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/fileuploader.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/photos.js"></script>
{% endblock %}

{% block left %}

<script type="text/javascript">
$(window).load(function() {
	var ajax_uploader = new Photos.AjaxUploader({
		button: $("#btn_upload"),
		imagespec: 'image185x185',
		errors: $("#img_error"),
		preview: $("#img_placeholder"),
		progress: $("#progress_percent"),
		input: $("#id_temp_photo"),
		url_input: $("#id_temp_photo_url"),
	});
});
</script>

<div class="invite_uploader">
	<div class="invite_uploader_img">
		<div class="invite_uploader_img_bg">
			<img id="img_placeholder" style="display: none;" />
		</div>
	</div>
	<div class="invite_uploader_frame"></div>
	
	<div class="invite_uploader_instructions">
		Please do not upload pictures containing celebrities, nudity, artwork
		or copyright images.  Your image will be displayed in multiple square 
		sizes as large as 250px by 250px and as small as 25px by 25px.
	</div>

	<div class="invite_uploader_button">
		<button id="btn_upload">Go!</button>
	</div>
</div>

<div id="img_error" style="color: red;"></div>

<div id="progress">
	Progress: <span id="progress_percent"></span>%
</div>
{% endblock %}


{% block right_title %}Create a new invite{% endblock %}

{% block right %}
<script type="text/javascript">
$(window).load(function() {
	
	// Initialize the restaurant picker
	var restaurant_picker = new Restaurant.RestaurantPicker({
		container: $('#restaurant_details'),
		input: $('#id_restaurant'),
		search: $('#id_invite_restaurant_search'),
		reset: $('#restaurant_reset'),
	});
	
	// Initialize the invite choice picker
	var config = {
		'invite_choice_container': '#invite_choice_container',
		'sms_invite_container': '#sms_invite_container',
		'search_form_input': '#id_invite_choice_search',
		'save_form': '#id_invite_form',
		'save_form_submit': '#id_invite_submit',
		'selected_invites_input': '#id_invite_choices',
		'other_sms_input': '#id_other_sms',
	};	
	Invite.InviteChoice.init(config);
	
	// Initialize the date/time picker
	var start_time_picker = new Gulu.DateTimePicker({
		container: $(".date_time_picker"),
		input: $("#id_start_time"),
	});

});
</script>

<div class="form">
<form action="" method="post" id="id_invite_form">
{% csrf_token %}

{{ form.temp_photo }}
{{ form.temp_photo_url }}

<div>
	<span class="pre_label">Step 1. </span>
	<label for="">Where?</label>
	<div id="restaurant_reset" class="btn_change" style="display: none; float: right;"/></div>
</div>

{{ form.restaurant.errors }}
{{ form.restaurant }}

<input type="text" name="invite_restaurant_search" id="id_invite_restaurant_search" class="input_medium">

<div id="restaurant_details" style="display: none;"></div>

<div class="divider2"></div><!-- .divider2 -->
	
<div>
	<span class="pre_label">Step 2. </span>
	<label for="">When?</label>
</div>

{{ form.start_time.errors }}
{{ form.start_time }}

<div class="date_time_picker"></div><!-- .date_time_picker -->

<div class="divider2"></div><!-- .divider2 -->

<div>
	<span class="pre_label">Step 3. </span>
	<label for="id_message">Message</label>
</div>

{{ form.message.errors }}
{{ form.message }}

<div class="divider2"></div><!-- .divider2 -->

<div>
	<span class="pre_label">Step 4. </span>
	<label for="">Who's invited?</label>
</div>

{{ form.invite_choices.errors }}
{{ form.invite_choices }}
	
<input type="text" name="invite_choice_search" id="id_invite_choice_search" class="input_medium" />

<div id="invite_choice_container cf"></div>

<div class="invite_other">
	<div class="invite_other_row">
		<label for="id_other_email">Other Email Addresses: </label>
		{{ form.other_email }}
	</div><!-- .invite_other_row -->
	<div class="invite_other_row">
		<label for="id_other_sms">Other SMS: </label>
		{{ form.other_sms }}
	</div><!-- .invite_other_row -->
</div><!-- .invite_other -->

<div class="cf">
	<div class="invite_sms">
		SMS invites: <span id="sms_invite_container"></span>
	</div>
	
	<div class="invite_submit">
		<input type="submit" name="submit" class="btn_send" value="Send" id="id_invite_submit" />
	</div>
</div>

</form>	
</div><!-- .form -->

{% endblock %}