{% extends "base.html" %}

{% block content %}
<div class="landing">
  <!-- Header Div starts from here -->
  <div class="header">
    <div class="logo"> <a href="/"><img src="{{ MEDIA_URL }}images/img_logo_text_en.png" alt=""></a> </div>
    <img class="pencil" src="{{ MEDIA_URL }}images/bg_pencil.png" alt="">
    <div class="cf"></div>    
    <div class="S_sites">
      <a href="http://twitter.com/GenieCapital" target="_blank"><img src="{{ MEDIA_URL }}images/icon_twitter_s.png" alt="" /></a>
      <a href="http://www.plurk.com/GenieCapital" target="_blank"><img src="{{ MEDIA_URL }}images/icon_plurk_s.png" alt="" /></a>
	  <div id="header_facebook" style="left: 40px; top: -2px">
	    <!--<iframe src="http://www.facebook.com/plugins/like.php?href=gulu.com&amp;layout=button_count&amp;show_faces=true&amp;width=80&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>-->
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fhome.php%23%21%2Fgulu.fb&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	  </div><!-- #header_facebook -->
    </div>

    <div class="cf"></div>
  </div>
  <!-- Header Div ends here --> 
  <!-- Container Div starts from here -->
  <div class="container">
    <div class="cont_left">
      <div class="left_chip"></div>
      <div class="right_chip"></div>
      <div class="cf"></div>
      <h1>gulu</h1>
      <h2>&nbsp;is a Social Dining Application</h2>
      <div class="cf"></div>
      <ul>
        <li>Send your friends on food missions</li>
        <li class="li_2">Share food photos and reviews</li>
        <li class="li_3">Coordinate dining-out in real time</li>
        <li class="li_4">Android & iPhone</li>
      </ul>
      <div class="app_store"> <img src="{{ MEDIA_URL }}images/btn_android_large_s.png" alt="" /><img src="{{ MEDIA_URL }}images/btn_iphone_large_s.png" alt="" /></div>
      <div class="cf"></div>
    </div>
    <div class="cont_right">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="messages-li {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <h1>Sign up for a beta invite:</h1>
      <a href="#" id="fb_connect"><img src="{{ MEDIA_URL }}images/btn_fb_connect.png" alt="" /></a>
      <div class="fleft or">OR</div>
      <div class="cf"></div>
      
      <form method="post" id="register" class="cf" action="{% url landing-index %}">
        {% csrf_token %}
        <div class="CR_form">
          <span class="CR_form_label">Email address:</span>
          {{ form.email }}
          <div class="cf">
            <span class="CR_form_error fleft">{{ form.email.errors }}</span>
            <input type="submit" class="submit" value="" />
          </div>
        </div>
      </form>
    </div>
    <div class="cf"></div>
    <p class="TM">© 2011, Genie Capital, All Rights Reserved.</p>
  </div>
  <!-- Container Div ends here -->   

</div>
{% endblock %}
