{% load comments %}
{% get_comment_list for obj as comment_list %}

<div class="show_comments">
{% if comment_list %}
<span class="arrow_up"></span>
{% endif %}
{% for comment in comment_list %}
{% include "inc_gcomments_comment.html" %}
{% endfor %}

{% get_comment_form for obj as form %}
<form class="comment_form" action="{% comment_form_target %}" method="post">
	{% csrf_token %}
	{{ form.content_type }}
	{{ form.object_pk }}
	{{ form.timestamp }}
	{{ form.security_hash }}
	<div class="text_field cf">
        <div class="text">
		{#{ form.comment.label_tag }#} {{ form.comment }}
		</div>
		<div style="display:none;">
            {{ form.honeypot.label_tag }} {{ form.honeypot }}
        </div>
		<input class="btn_post fright" type="submit" name="post" class="submit-post" value="" />
	</div>
</form>
</div>