{% extends "restaurant_base.html" %}
{% load gcomments_tags global_tags %}

{% block bodyclass %}chef_nav{% endblock %}
{% block index_base_class %}chef_view{% endblock %}

{% block content %}

<div class="dish_menu_header tab_page_header">    
    <div class="header cf">        
        <h2 class="fleft">Meet Our Chef</h2>        
        <div class="fright operate cf">
        	<a class="btn5" href="{% slugurl restaurant restaurant-add-chef restaurant.id %}">Add a Chef</a>
        </div>
    </div>
    <div class="sp_hr_line"></div>
</div>

{% for chef in chefs%}
<div class="resaurant_chef cf">
	<div class="content">		  
		  <div class="resaurant_chef_photo">
          		<img src="{% block profile_photo %}{{ MEDIA_URL }}photo_cache/photos/image185x185/genie-80004731-8cf4280add-2_500.jpg{% endblock %}" />    
		  		<div class="restauranr_chef_fram"> </div>
		  </div>
		  <h4> Chef {{ chef }} </h4>
          {{chef.description}}
    </div>
    <div class="bottom">
    	   <div class="share_buttons"><a href="#"><img src="http://localhost:8000/media/images/tmp_all_icons.png" alt=""></a></div>
    </div>
    <div class="chef_comments">
    	{% comments_form chef %}
    </div>          
</div>
{% endfor %}


{% endblock %}


{% block bottom_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/gcomments.js"></script>
<script>
$(document).ready(function(){
	$('.chef_comments').each(function(){
		var comment = new GComments.Commenter({
			container : $(this),
	    });
	});
});
</script>

{% endblock %}