/* CSS Document */

html {
    background: url(../images/bg_header_wood.png) repeat left top;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: url(../images/bg_header_gradient.png) repeat-x center top;
}

h1, h2, h3, h4, h5, h6, h7, p, form, input, ul, li {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    font-family: "Courier New", "Courier", "serif";
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

h3, h4, h5 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 16px
}

ul, ol, li {
    list-style: none;
}

input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}

a {
    text-decoration: none;
    color: #000000;
    outline: none;
}

a:hover {
    /*text-decoration: underline;*/
    /*color: #000000;*/
    outline: none;
}

a img {
    border: 0px;
    outline: none;
}

table {
	border-spacing: 0px;
}

:link, visited, ins {
    text-decoration: none;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.overflow {
    overflow: auto;
}

.overflow_h {
    overflow: hidden;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .cf {height: 1%;}
.cf {display: block;}
/* End hide from IE-mac */

.ui-autocomplete
{
     position:absolute;
     cursor:default;
     z-index:4000 !important     
}

.align_center{
	margin: 0px auto;
	display: block;
}

/* ======================================== Master Styles ============================================ */
#wrapper {
    width: 1096px;
    margin: 0px auto;
    padding: 0;
    position: relative;
    background: url(../images/bg_content_paper_bd.png) repeat-y center top;
}

/* ======================================== Form Elements ============================================ */

textarea, input[type="text"], input[type="password"] {
    background-color: #F9F9F9;
    border: 1px solid #B7B7B7;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0px 0px 7px #CCC;
    -webkit-box-shadow: inset 0px 0px 7px #CCC;
    box-shadow: inset 0px 0px 7px #CCC;
    padding: 5px;
    font-size: 12px;
    behavior: url(ie-css3.htc);
    color:#9e9e9e;
}

input[type="text"].sp {
	height: 16px;
	border: 1px solid #B9B597;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: inset 2px 2px 4px #aaa;
	-webkit-box-shadow: inset 2px 2px 4px #aaa;
	box-shadow: inset 2px 2px 4px #aaa;
    behavior: url(ie-css3.htc);
}

.pre_label, label {
    font-weight: bold;
    font-size: 14px;
    font-family: "Courier New", "Courier", serif;
}

.pre_label {
    color: #02b9e7;
    margin-left: 3px;
}

.search_form {
    color: #777777;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.search_form input {
    border: 0;
    float: left;
}

.search_form .keywords {
    width: 212px;
    border: 0px;
}

.search_form .location {
    width: 129px;
    margin-left: 3px;
    border: 0px;
}

.search_form .submit {
    width: 103px;
    height: 32px;
    background: url(../images/btn_search.png) no-repeat left top;
    cursor: pointer;
    float: left;
    margin-left: 3px;
}

.input_medium {
    width: 300px;
}

/* date time picker */
.gulu_datetimepicker_date {
    background-color: #F9F9F9;
    border: 1px solid #B7B7B7;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px #CCCCCCC;
    -webkit-box-shadow: 0px 0px 3px #CCCCCC;
    box-shadow: 0px 0px 3px #CCCCCC;
    padding: 5px;
    font-size: 14px;
    margin: 10px 0px;
    height: 25px;
    margin-right: 10px;
    behavior: url(ie-css3.htc);
}

.gulu_datetimepicker_date input {
    background: none;
    border: 0px;
    margin: 0;
    padding: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0px 0px 0px #CCCCCCC;
    -webkit-box-shadow: 0px 0px 0px #CCCCCC;
    box-shadow: 0px 0px 0px #CCCCCC;
    height: 25px;
    behavior: url(ie-css3.htc);
}

.gulu_datetimepicker_date button {
    border: 0;
    margin: -3px 0px 0px 0px;
    padding: 0;
    background: none;
    cursor: pointer;
    float: right;
    width: 34px;
    height: 34px;
}

.gulu_datetimepicker_time_input {
    width: 150px;
    height: 25px;
    margin: 10px 0;
    padding: 6px;
}

.gulu_datetimepicker_date{
    float: left;
}

/* ======================================== Unregistered restaurant / review styles ============================================ */

.unregistered {width:960px; margin:0px auto; }

.unregistered .restaurant { background:url(../images/bg_content_paper_top.png) no-repeat center 80px; height:900px; }

.unregistered .logo{background:url(../images/img_logo.png) no-repeat 5px -30px; width:281px; height:199px; position:absolute; top: 0px; left:0px;}
.unregistered .logo img{margin:15px 0 0 37px;}

.unregistered .header img.pencil{position:absolute; right:0px; top:0px; z-index:15;}

.unregistered .restaurant .header .app_store {
  margin-left: 125px;
}

.unregistered .S_sites{width:150px; float:right; padding:0px; z-index:5; position:relative; margin: 10px 0 -10px 0;}
.unregistered .S_sites img{float:left; margin:2px 6px 0 0;}
.unregistered .S_sites img.fb_like{margin:2px 2px 0 4px;}


.unregistered .header{width:1030px; margin:0px auto; position:relative; z-index:10;}
.unregistered .header_R{width:706px; height: 136px; float: right; padding:10px 10px 62px 30px; background-image: url('../images/bg_unregistered_header.png'); }
.unregistered .header_R img.HR_img{position:absolute; top:0px; right:0px; z-index:1;}
.unregistered .header_R h1{font:normal 14px 'Microsoft JhengHei'; float:left; color:#000; float:left; z-index:11; position:relative; padding:3px 0 0 0;}
.unregistered .header_R h2{font:bold 18px 'AmerType Md BT'; float:left; color:#000; float:left; z-index:11; position:relative;}

.unregistered .header_R ul{margin:15px 0 0 0px; position:relative; z-index:11; float:left;}

.unregistered .header_R li{margin:0 0 0 -12px; float:left; background:url(../images/bg_unregistered_tab_1.png) no-repeat left top; width:171px; padding:10px 0 10px 0; text-align:left; font:bold 12px 'Microsoft JhengHei'; color:#4d382c; letter-spacing:-1px; height: 30px;}
.unregistered .header_R li span{font:bold 18px 'AmerType Md BT'; float:left; color:#000; padding:0 2px 0 11px; margin:-5px 0 0 0;}
.unregistered .header_R li.HR_li2{background:url(../images/bg_unregistered_tab_2.png) no-repeat left top; width:172px;}
.unregistered .header_R li.HR_li3{background:url(../images/bg_unregistered_tab_3.png) no-repeat left top; width:169px;}

.unregistered .container{margin:0px auto; width:1096px;}
.unregistered .cont_N{margin:0; width:1036px; background:url(../images/bg_content_paper.png) repeat-y left 20px; padding:10px 30px 0 30px;}

.unregistered .R_cont_left{width:240px; float:left; position:relative; padding:0px;}
.unregistered .CL_top{width:236px; float:left; padding:0px; background:url(../images/LT_bg.png) no-repeat left top;}
.unregistered .CL_top img{margin:18px 0 0 11px; float:left;}
.unregistered .CL_top h1{font:bold 18px 'AmerType Md BT'; float:left; color:#000; padding:3px 0 0 12px; width:224px;}
.unregistered .CL_top h2{font:bold 12px Arial, Helvetica, sans-serif; float:left; color:#444444; padding:0px 0 0 12px; width:224px;}
.unregistered .CL_top p{font:normal 12px DFKai-SB; float:left; color:#000; padding:23px 0 12px 12px; line-height:24px;}

.unregistered .sep{background:url(../images/sep.png) no-repeat left top; width:230px; height:11px; float:left;}

.unregistered .profile_left_col {
  margin-left: 20px;
}

.unregistered .profile_right_col {
  margin-left: 25px;
  margin-top: 10px;
}

.unregistered .module {
  padding-left: 25px;
}

.unregistered .profile_main .content_head {
  padding-top: 0;
}

.unregistered .profile_main .ribbon {
  background-image: url('../images/bg_ribbon_orange_small.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 153px;
  height: 41px;
  position: relative;
  left: -40px;
}

.unregistered .profile_main .ribbon.wide {
  background-image: url('../images/bg_ribbon_orange_large.png');
  width: 269px;
  height: 43px;
}

.unregistered .profile_main h1 {
  position: relative;
  top: -35px;
  left: -10px;
  font:bold 24px 'AmerType Md BT'; 
  color:#4d382c;
}

.unregistered .profile_main h3 {
  font-size: 14px;
  margin: 0;
  font-family: Serif;
  position: relative;
  left: -15px;
  color: #4D382C;
}

.unregistered .profile_main hr {
  border: 0;
  background-image: url('../images/hr_home_review.png');
  width: 600px;
  height: 18px;
  margin: 0 auto 20px auto;
  padding: 0;
  position: relative;
  left: -20px;
}

.unregistered .usercard {
  width: 196px;
  height: 200px;
  background-image: url('../images/bg_usercard_unregistered.png');
  padding: 25px 20px 0 20px;
}

.unregistered .usercard img {
  display: block;
  margin: 0 auto;
}

.unregistered .usercard h3 {
  margin: 10px 0 0 0;
  font-family: Serif;
  font-size: 14pt;
}

.unregistered .usercard p {
  font-size: 12pt;
  font-family: Sans;
  margin: 5px 0;
}

.unregistered .usercard-about-me {
  margin: 5px 0 20px 20px;
  font-size: 10pt;
  font-family: Courier;
}

.unregistered .left-hr {
  margin: 0 0 20px 20px;
}

.unregistered .more-info {
  float: right;
  margin-right: 20px;
  width: 123px;
  height: 39px;
  font-size: 18px;
  background-image: url('../images/bg_unregistered_moreinfo.png');
}

.unregistered .more-info a {
  display: block;
  margin: 5px 0 0 15px;
}

.unregistered .review-content {
  margin-left: 20px;
  font-size: 12pt;
}

.unregistered .review-date {
  margin: 20px 0 0 20px;
  color: #999;
  font-size: 10pt;
}

.unregistered .CL_cen{width:238px; float:left; padding:13px 0 0 0;}
.unregistered .CL_cen h1{font:bold 24px DFKai-SB; float:left; color:#000; padding:10px 0 0 0px; height:42px; width:238px; background:url(../images/bg_unregistered_subtitle.png) no-repeat left top; text-align:center;}

.unregistered .LC_img{background:url(../images/LC_img_bg1.png) no-repeat left top; width:223px; height:227px; float:left; margin:-5px 0 0 0; position:relative; z-index:2;x}
.unregistered .LC_img img{margin:21px 0 0 21px; float:left; z-index:-1; position:relative;}
.unregistered .LC_img img.blue_btn{position:absolute; top:-20px; left:-10px;}
.unregistered .LC_img img.red_btn{position:absolute; top:-18px; right:0px;}

.unregistered .LC_cal{margin:0px 0 0 0px; float:left; width:53px; height:55px; background:url(../images/cal_1.png) no-repeat left top; padding:9px 0 0 0;}
.unregistered .LC_cal h4{font:normal 9px Arial, Helvetica, sans-serif; color:#000; float:left; padding:0px 0 0 8px; line-height:7px;}
.unregistered .LC_cal h5{font:bold 15px 'AmerType Md BT'; text-align:center; color:#fff; padding:9px 0 0 16px; float:left;}

.unregistered .LC_cal1{margin:0px 0 0 0px; float:left; width:53px; height:55px; background:url(../images/cal_2.png) no-repeat left top; padding:7px 0 0 0; margin:3px 0 0 0;}
.unregistered .LC_cal2{margin:0px 0 0 0px; float:left; width:53px; height:55px; background:url(../images/cal_3.png) no-repeat left top;}

.unregistered .CL_cen h2{font:bold 18px 'AmerType Md BT'; color:#000; padding:5px 0 0 0;}

.unregistered .CL_btm{width:234px; float:left; padding:12px 0 12px 12px;}
.unregistered .CL_btm p{font:normal 12px PMingLiU; color:#777777; padding:0px 0 0px 8px; float:left; line-height:18px;}
.unregistered .CL_btm img{float:left; margin:1px 0 3px 0;}
.unregistered .CL_btm h1{font:bold 21px 'AmerType Md BT'; color:#000; padding:0px 0 5px 0; float:left; width:210px;}

.unregistered .CL_btm ul{margin:5px 0 0 15px; width:85px; float:left;}
.unregistered .CL_btm li{background:url(../images/stop.png) no-repeat left top; float:left; width:80px; padding:0 0 13px 20px; font:normal 12px PMingLiU; color:#777777;}

.unregistered .CL_btm ul.CLB_ul{margin:5px 0 0 0px; width:85px; float:left;}
.unregistered .CL_btm ul.CLB_ul li.CLB_li{background:url(../images/R_tick.png) no-repeat left top;}

.unregistered .R_cont_right{width:745px; float:right; position:relative; padding:0px 0 30px 0;}

.unregistered .RC_top{width:745px; float:left; background:url(../images/CR_top_bg.png) no-repeat left top; height:24px; font-size:0px;}
.unregistered .RC_cen{width:745px; float:left; background:url(../images/CR_cen_bg.png) repeat-y left top; font-size:0px; margin:-5px 0 0 0; padding-bottom:30px;}
.unregistered .RC_btm{width:745px; float:left; background:url(../images/CR_btm_bg.png) no-repeat left top; height:24px; font-size:0px;}

.unregistered .RC_cen h1{font:bold 24px 'AmerType Md BT'; color:#4d382c; background:url(../images/orange_bg.png) no-repeat left top; z-index:100; position:relative; width:153px; text-align:center; padding:6px 0; margin-left:-10px;}
.unregistered .map{width:691px; position:relative; top: -20px;}

.unregistered .map .right_chip{width:138px; height:121px; background:url(../images/bg_right_chip.png) no-repeat left top; position:absolute; top:-50px; right: -50px; z-index: 10000;}
.unregistered .line{background:url(../images/line.png) no-repeat left top; width:725px; height:9px; float:left; font-size:0px; margin:10px 0 10px 10px;}
.unregistered .gallery{width:705px; float:left; margin:7px 0 0 25px;}
.unregistered .gallery img{margin:0 3px 3px 0; float:left;}
.unregistered .RC_cen h1.MH{font:bold 14px 'AmerType Md BT'; color:#4d382c; background:none;}
.unregistered .RC_cen h1.big_O{background:url(../images/bg_orange_ribbon_small.png) no-repeat left top; width:269px;}

.unregistered .FR_div{width:685px; margin:0px auto; padding:10px 10px 0 15px;}
.unregistered .FR_div ul{margin:12px 0 0 13px; float:left;}
.unregistered .FR_div li{float:left; padding:2px 2px 0 2px; font:normal 24px Arial, Helvetica, sans-serif; color:#000; line-height:24px;}
.unregistered .FR_div li a{margin:3px 0 0 0; float:left;}

.unregistered p.R_TM{font:normal 14px Arial, Helvetica, sans-serif; color:#555555; text-align:center; padding:15px 0 0 0;}
.unregistered .end_bg{width:1096px; background:url(../images/bg_content_paper_bottom.png) no-repeat left top; height:39px;}

.unregistered .lang1{width:250px; margin:0px auto; padding:0 0 20px 0;}
.unregistered .R_cont_left a.more_info{background:url(../images/MI_bg.png) no-repeat left top; text-decoration:none; width:123px; float:right; height:39px; font:bold 18px 'AmerType Md BT'; color:#313131; text-align:center; margin:13px 0 0 0;}

.unregistered .slider{width:712px; float:left; position:relative;}
.unregistered .slider img{margin:0px 0 0 15px;}
.unregistered .slider img.S_text{position:absolute; top:-10px; left:-31px;}
.unregistered .slider p{font:normal 14px DFKai-SB; color:#000; padding:15px 20px 0 40px; float:left; line-height:26px;}
.unregistered .slider p.date{color:#898989; font:normal 12px Arial, Helvetica, sans-serif; padding-bottom:25px;}

.unregistered .slider img.blue_btn{position:absolute; top:3px; left:-10px;}
.unregistered .slider img.red_btn{position:absolute; top:0px; right:0px;}
.unregistered .I_RC_cen{height:1550px;}



/* ======================================== Beta landing pages ============================================ */

.landing {
    width:960px; 
    margin:0px auto; 
    background:url(../images/bg_landing_paper_s.png) no-repeat center 15px; 
    height:605px;
}

.landing .messages {width: 248px;color:#02B9E7; padding:0 4px;}

.landing .header{width:940px; margin:0px auto; position:relative; padding:70px 0 20px 0; z-index:10;}

.landing .lang{width:265px; float:left; padding:0 0 0 280px;}
.landing .lang img{float:left; margin:0 3px 0 0;}

.landing .container{width:910px; margin:0px auto;}
.landing .cont_left{width:535px; float:left; background:url(../images/bg_what_is_gulu_s.png) no-repeat left top; position:relative; padding:76px 0 78px 67px;}
.landing .left_chip{width:138px; height:121px; background:url(../images/bg_left_chip.png) no-repeat left top; position:absolute; top:-30px; right:-40px;}
.landing .right_chip{width:138px; height:121px; background:url(../images/bg_right_chip.png) no-repeat left top; position:absolute; bottom:-14px; left:-24px;}

.landing .cont_left h1{font-weight: bold; font-size: 48px; font-family: Serif; float:left; color:#000;}
.landing .cont_left h2{font-weight: bold; font-size: 24px; font-family: Helvetica; float:left; color:#000; padding:23px 0 0 0;}

.landing .cont_left ul{margin:5px 0 0 0px; width:390px;}
.landing .cont_left li{float:left; background:url(../images/li_num_1.png) no-repeat left 7px; font:bold 18px Arial, Helvetica, sans-serif; color:#776256; width:390px; padding:5px 0 7px 25px;}

.landing .cont_left li.li_2{background:url(../images/li_num_2.png) no-repeat left 7px;}
.landing .cont_left li.li_3{background:url(../images/li_num_3.png) no-repeat left 7px;}
.landing .cont_left li.li_4{background:url(../images/li_num_4.png) no-repeat left 7px;}

.landing .app_store{width:304px; position:absolute; bottom:57px; right:50px;}
.landing .app_store img{margin:0 4px 0 0;}

.landing .cont_right{width:284px; height:291px; float:right; background:url(../images/bg_landing_right_s.png) no-repeat left top; position:relative; padding: 40px 0 0 24px;}
.landing .cont_right h1{font-weight: bold; font-size: 22px; color:#696969; padding:2px 0 0 3px;}
.landing .cont_right h2{font-weight: bold; font-size: 14px; float:left; color:#696969; padding:10px 5px 0 25px;}
.landing .cont_right .or{font-weight: bold; font-size: 14px; float:left; color:#696969; line-height:40px;margin-left:10px;}
.landing .cont_right img{float:left; margin:10px 0 0 2px;}

.landing .CR_form{background:url(../images/bg_landing_form_s.png) no-repeat left top; width:258px; height: 110px; padding-bottom:10px; float:left;}
.landing .CR_form_label{font-weight: bold; padding: 10px 0 0 10px;display: block;}
.landing .CR_form_error .errorlist li {font-family: Arial, sans-serif; font-weight: bold; color: red; margin: 0; padding: 0; font-size: 12px; padding-left: 10px;}
.landing .CR_form input{background:url(../images/bg_landing_input.png) no-repeat left top; width:226px; padding:5px 0 9px 10px; float:left; border:0px; font:normal 11px Arial, Helvetica, sans-serif; color:#898989; margin:8px 0 0 9px;}
.landing .CR_form input.input_pw{background:url(../images/bg_landing_password.png) no-repeat left top; width:117px;}
.landing .CR_form input.IC_bg{background:url(../images/bg_landing_code.png) no-repeat left top; width:169px;}
.landing .cont_right h3{font:normal 11px Arial, Helvetica, sans-serif; color:#898989; padding:10px 0 0 0px; float:left; margin: 0;}

.landing .CR_form input.submit{background:url(../images/btn_landing_signup.png) no-repeat left top; width:78px; height:35px; cursor:pointer; border:0px; margin: 0px 10px 0 0 ; float: right;}

.landing p.TM{font:normal 11px Arial, Helvetica, sans-serif; color:#898989; text-align:center; padding:0px;}

.landing .CR_form .cf {
	clear:both;
}

form#register {
	clear:both;
}