{% extends "restaurant_base.html" %}

{% block bodyclass %}deal_nav{% endblock %}

{% load gcomments_tags global_tags like_tags %}

{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/deal.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/gulu.js"></script>
<script type="text/javascript">

$(window).load(function() {
	// Initialize the deal updater
	var config = {
			'restaurant_deal_container': '#restaurant_deal_container',
			'deal_prev': '#deal_prev',
			'deal_next': '#deal_next',
	};	
	Deal.init(config);
});

</script>
<div class="view_deal_header tab_page_header">
    <div class="title cf">
        <h2 class="fleft">Deals</h2>
        <div class="fright operate cf">
        	{% comment %}
        	{% if deal.get_next.id %}<a id="deal_next" class="btn4 fright" href="../{{ deal.get_next.id }}" onclick="Deal.updateDealView($(Deal._config['restaurant_deal_container']),{{ deal.get_next.id }}); return false;">Next</a>{% endif %}
        	{% if deal.get_prev.id %}<a id="deal_prev" class="btn4 fright" href="../{{ deal.get_prev.id }}" onclick="Deal.updateDealView($(Deal._config['restaurant_deal_container']),{{ deal.get_prev.id }}); return false;">Prev</a>{% endif %}
            {% endcomment%}
            <a id="deal_next" class="btn4 fright" href="../{{ deal.get_next.id }}">Next</a>
        	<a id="deal_prev" class="btn4 fright" href="../{{ deal.get_prev.id }}">Prev</a>
            <a class="btn6 fright"  href="{% slugurl restaurant deal-deals restaurant.id %}">Back to List</a>
            <a class="btn4 fright"  href="{% slugurl restaurant deal-edit-deal restaurant.id deal.id %}">Edit Deal</a>
        </div>
    </div>
    <div class="sp_hr_line"></div>
</div>
<div id="restaurant_deal_container" style="min-height:800px;">
	<div class="restaurant_deal large_photo_block">
	    <div class="title cf">
	        <h2 class="fleft"><a href="{% slugurl restaurant deal-view-deal restaurant.id deal.id %}">{{ deal.title }}</a></h2>
	        <div class="fright share_buttons">{% like deal %}</div>
	    </div>
	    <div class="show_photo">
	        <img src="{{ deal.cover.image622x417.url }}">
	        <span class="photo_frame"></span>
	    </div>
	    <table class="deal_detail">
	        <tr>
	            <th>Deal: </th><td>{{ deal.get_description }}</td>
	        </tr>
	        <tr>
	            <th>Place: </th>
	            <td>
	            	{% for place in deal.restaurants.all %}
	            		{{ place.name }}
	            		{% if not forloop.last %} , {% endif %}
	            	{% endfor %}
	            </td>
	        </tr>
	        <tr>
	            <th>Condition: </th><td>{{ deal.conditions }}</td>
	        </tr>
	        <tr>    
	            <th>Availability: </th><td>{{ deal.get_time_range }}</td>
	        </tr>
	        <tr>
	            <th>Note: </th><td></td>
	        </tr>
	    </table>
	    <div class="cf deal_btn_container">
	        <a class="btn4 fright" href="">Suggest</a>
	        <a class="btn4 fright" href="">Add to Todo</a>
	    </div>
	    <div class="deal_comments">
	        {% comments_form deal %}
	    </div>
	</div>
</div>
{% endblock %}

{% block bottom_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/gcomments.js"></script>
<script>
$(document).ready(function(){
    $('.deal_comments').each(function(){
        var comment = new GComments.Commenter({
            container : $(this),
        });
    });
});
</script>
{% endblock %}