{% extends "restaurant_base.html" %}

{% block bodyclass %}blog_nav{% endblock %}

{% load gcomments_tags %}
{% load global_tags bbcode %}

{% block content %}
<div class="restaurant_blog">
<div class="blog_menu_header">
	<div class="blog_menu_title cf">
		<div class="fright blog_menu_operate cf">
			<a class="btn6 fleft" href="{% slugurl restaurant restaurant-posts restaurant.id %}">Back to Blog</a>
			<a class="btn4 fleft" href="{% slugurl restaurant restaurant-edit-post restaurant.id post.id %}">Edit Post</a>
		</div>
	</div>
</div>
</div>

<div class="sp_hr_line"></div>

<div class="restaurant_blog">
	<div class="restaurant_blog_title cf">
		{{ post.title }}
	</div>
	<div class="restaurant_blog_date cf">
		{{ post.created }}
	</div>

	<div class="restaurant_blog_content cf">
		{% bbcode post.content %}
	</div>

	<div class="post_comments">
	{% comments_form post %}
	</div>

</div>
{% endblock %}

{% block bottom_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/gcomments.js"></script>
<script>
$(document).ready(function(){
    var comment = new GComments.Commenter({
        container : $(".post_comments"),
    });
});
</script>
{% endblock %}