<div class="wall_post cf btm_grey_border">
    <div class="post_input cf">
        <form action="" method="post" id="wall_form">
            {% csrf_token %}
            {{ form.owner_content_type }}
            {{ form.owner_object_id }}
            {{ form.photo_id }}
            <div class="common_text_input">
                <div id="form_error_msg"></div>
                {{ form.content }}
                <div class="tool_box">
                    <div class="tools cf">
                        <div id="btn_upload" class="upload_photo fleft"></div>
                        <div class="buttons fright cf">
                            <input type="button" id="wall_submit" value="" class="btn_post" name="submit">
                        </div>
                    </div>
                    <div class="show_result">
                        <div id="error_msg"></div>
                        <div id="img_placeholder" class="photo"></div>
                    </div>
                </div>
            </div>
            <div class="post_options cf">
                <div class="cf">
                    <span>同步分享到</span>
                    <input type="checkbox" value="" />
                    <img src="{{ MEDIA_URL }}images/icon_facebook_s.png" alt="share to facebook" />
                    <input type="checkbox" value="" />
                    <img src="{{ MEDIA_URL }}images/icon_twitter_s.png" alt="share to twitter" />
                    <input type="checkbox" value="" />
                    <img src="{{ MEDIA_URL }}images/icon_plurk_s.png" alt="share to plurk" />
                    <div class="more_setting fleft">add more to the <a href="#">setting</a></div>
                </div>
            </div>
        </form>
    </div>
</div>