{% extends "base.html" %}

{% block main %}
<div id="profile_header" class="cf">

    <div class="profile_header_left fleft">
        <div class="profile_photo profile_header_photo">
            <img src="{% block profile_photo %}{{ MEDIA_URL }}photo_cache/photos/image185x185/genie-80004731-8cf4280add-2_500.jpg{% endblock %}" />
            <div class="profile_photo_frame"></div>
        </div>
    </div>
    
    <div class="profile_header_right fleft">
    {% block profile_header %}
    profile header here
    {% endblock %}
    </div>
    
    <a name="nav"></a>
    
    <ul class="profile_nav fleft">
    {% block profile_nav %}
    profile_nav here
    {% endblock %}
    </ul>
    
    <div class="profile_nav_bg"></div>
    
</div>

<div class="profile_body cf">

    <div class="profile_left_col fleft">
    {% block profile_left_col %}
    profile left sidebar
    {% endblock %}
    </div>
    <div class="profile_right_col fleft">
        <div class="profile_main_top"></div>
        <div class="profile_main">
        {% block content %}
	    This is content
	    {% endblock %}
	    </div>
	    <div class="profile_main_footer"></div>
    </div>
    
</div>

{% endblock %}