{% load global_tags %}
<li id="{% if photo.bephoto.best_photo_restaurant.all %}best{% else %}unbest{% endif %}{{ photo.id }}" class="photo_item cf fleft {% get_random photos_frame_l photos_frame_h photos_frame_r %}">
    <a href="{% slugurl request.content_object photos-restaurant-view request.content_object.id photo.id %}">
       <span class="photo_frame"></span>
       <div class="photo_item_bd">
           <img src="{{ photo.image190x125.url }}" />
       </div>
    </a>
    {% if request.content_object.best_photos %}
    <div class="operation cf">
        <button class="{% if photo.best_photo_restaurant.all %}best{% else %}unbest{% endif %}"></button>
    </div>
    {% endif %}
</li>