{% extends "restaurant_base.html" %}

{% block bodyclass %}other_l_nav{% endblock %}

{% load global_tags %}

{% block content %}

{% if requests_to %}
<div class="location_invitations_header tab_page_header">
    <div class="title cf">
        <h2 class="fleft">Invitations from other restaurants</h2>
    </div>
    <div class="sp_hr_line"></div>
</div>

<div class="location_invitations">
    <div class="location_invitations_list two_col_list">
        <ul class="cf">
        {% for request in requests_to %}
            <li class="{% cycle 'odd' 'even' %} fleft">
                <div class="info cf">
                    <div class="photo fleft">
                        <img alt="" src="{{ request.from_restaurant.main_profile_pic.image160x100.url }}" />
                        <a class="photo_bg_160x100" href="{% slugurl request.from_restaurant restaurant-profile request.from_restaurant.id %}"></a>
                    </div>
                    <div class="content fleft">
                        <h3 class="entry_title"><a href="{% slugurl request.from_restaurant restaurant-profile request.from_restaurant.id %}">{{ request.from_restaurant.name }}</a></h3>
                        <p class="address">{{ request.from_restaurant.address }}</p>
                        <p class="tell">{{ request.from_restaurant.phone }}</p>
                    </div>
                    <div class="decide cf fleft">
                        <a class="fleft btn3" href="{% slugurl restaurant restaurant-handle-invitation restaurant.id request.id 'accept' %}">Accept</a>
                        <a class="fleft btn3" href="{% slugurl restaurant restaurant-handle-invitation restaurant.id request.id 'decline' %}">Decline</a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}{% if forloop.counter != requests_to|length %}<div class="sp_hr_line"></div>{% endif %}{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="sp_hr_line"></div>
{% endif %}

<div class="other_location_header tab_page_header">
    <div class="title cf">
        <h2 class="fleft">Other Locations</h2>
        <div class="fright operate cf">
            <a href="{% slugurl restaurant restaurant-add-other-location restaurant.id %}" class="btn5">Add Location</a>
        </div>
    </div>
    <div class="sp_hr_line"></div>
</div>

<div class="location_list two_col_list">
    <ul class="cf">
    {% for location in other_locations %}
        <li class="{% cycle 'odd' 'even' %} fleft">
            <div class="info cf">
                <div class="photo fleft">
                    <img alt="" src="{{ location.main_profile_pic.image160x100.url }}" />
                    <a class="photo_bg_160x100" href="{% slugurl location restaurant-profile location.id %}"></a>
                </div>
                <div class="content fleft">
                    <h3 class="entry_title"><a href="{% slugurl location restaurant-profile location.id %}">{{ location.name }}</a></h3>
				    <p class="address">{{ location.address }}</p>
				    <p class="tell">{{ location.phone }}</p>
				    <a class="btn4" href="#">gulu page</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}{% if forloop.counter != other_locations|length %}<div class="sp_hr_line"></div>{% endif %}{% endif %}
        </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}
